
<div class="row">
  <div class="col-lg-1">
    <button class="btn btn-light" (click)="add()">
      <i class="fa fa-plus"></i>&nbsp;&nbsp;New Remedy
    </button>
  </div>
</div>

<ng-container *ngIf="!symptoms || symptoms.length == 0">
  <h2>No symptoms!</h2>
</ng-container>

<ng-container *ngIf="symptoms">
  <div *ngFor="let symptom of symptoms">
    <div class="card-body row bg-dark">
      <h5  class="col-sm-2" style="color: white">{{symptom.name}}</h5>
      <h5  class="col-sm-2" style="color: white">{{symptom.value != 0 ? symptom.value : ''}}</h5>
      <span class="col-sm-1"></span>
      <span class="col-sm-1">
        <button class="btn btn-info" (click)="change(symptom)">Change</button>
      </span>
      <span class="col-sm-1">
        <button class="btn btn-danger" (click)="delete(symptom)">Delete</button>
      </span>
    </div>
    <br>
  </div>
</ng-container>
